<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
	<title>mixedGame</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script>
		// 현재 내가 어느 채팅방인가. 다른 채팅방에 들어갈 때, 현재 방을 나가기 위해 사용하는 변수
		let chatRoomKey = false;
		$(document).ready(() => {
			$("#chatText").keydown(function (key) {
				if (key.keyCode == 13) {
					sendChat();
				}
			});
			$('#btnMakeChatRoom').click(() => {
				$.ajax({
					url: "/makeNewChatRoom",
					type: "post",
					data: {
						chatRoomName: $('#chatRoomName').val()
					},
					success: function (key) {
						console.log(key);
						accessRoom(key, $('#chatRoomName').val());
					},
					error: function (error) {
						console.log(error);
					}
				});
			});
		})
		let socket = io();
		// 채팅방 접속중이라는것을 알림
		socket.emit("indexPage");
		// 채팅방 접속중 사람들을 알려달라.
		socket.emit("request onlineChatNicknames")
		// 채팅방 방 리스트를 가져다 달라.
		socket.emit("request room List");

		socket.on('disconnect', () => {
			alert('연결이 끊겼습니다');
			location.href = '/';
		})
		socket.on("response onlineChatNicknames", (nicknames) => {
			$('#onlineChatNicknames').empty();
			Array.from(nicknames).forEach((nickname, index) => {
				//$('#onlineChatNicknames').append(`<p onclick="inviteChatRoom('${nickname}')">${nickname}</p>`);
				$('#onlineChatNicknames').append(`<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			${nickname}</button>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" onclick="inviteChatRoom('${nickname}')">채팅방 초대하기</a></li>
		</ul>
	</div>`);
			})
		})
		socket.on("response room List", (list) => {
			$('#chatRoomNames').empty();
			list.forEach((val) => {
				// val은 [key,Name,Population] 형태.
				$('#chatRoomNames').append(`<tr onclick="accessRoom('${val[0]}', '${val[1]}')"><td scope="row">${val[2]}</td><td>${val[1]}</td></tr>`);
			})
		})
		socket.on('chat message', (msg) => {
			$('#chatting').append(`<li class="list-group-item">${msg}</li>`);
			$('#showChat').scrollTop($('#showChat')[0].scrollHeight);
		})
		socket.on('inviteChatRoom', (who, key, name) => {
			//data는 who, key, name으로 구성되어야 한다.
			$('#toasts').append(`<div id="liveToast" class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            ${who}이/가 '${name}' 채팅방에 초대했습니다.
            <div class="mt-2 pt-2 border-top">
                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="toast" onclick="accessRoom('${key}', '${name}');">수락</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">거절</button>
            </div>
        </div>
    </div>`);
		})
		function inviteChatRoom(nickname) {
			if (!chatRoomKey) {
				alert('현재 채팅방에 참여하지 않았습니다.');
				return;
			}
			socket.emit('inviteChatRoom', nickname, chatRoomKey, $('#chatRoomTitle').html());
			$('#chatting').append(`<li class="list-group-item">${nickname}을/를 초대했습니다.</li>`);
		}
		function exitCurrentRoom() {
			if (chatRoomKey) {
				socket.emit("exitRoom", chatRoomKey);
				chatRoomKey = false;
			}
		}
		function showMakeRoom() {
			$('#showChat').hide();
			$('#showMakeRoom').show();
			//현재 참여중인 채팅방이 있다면, 채팅방을 나간다.
			exitCurrentRoom();
		}
		function showChat() {
			$('#showChat').show();
			$('#showMakeRoom').hide();
		}
		function accessRoom(key, name) {
			if (key === chatRoomKey) return;
			showChat();
			exitCurrentRoom();
			socket.emit("whatIsMyRoom", key);
			chatRoomKey = key;
			$('#chatRoomTitle').text(name);
			$('#chatting').empty();
		}
		function sendChat() {
			socket.emit('chat message', chatRoomKey, $('#chatText').val());
			$('#chatText').val(``);
		}
	</script>
</head>

<body>
	<div class="main-wrapper" style="height: 100vh">
		<div
			class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
			<a class="my-0 mr-md-auto font-weight-normal text-dark" href="/">Home</a>
			<nav class="my-2 my-md-0 mr-md-3">
				<%- navText %>
			</nav>
		</div>
		<div class="row h-75 w-100">
			<div class="col-3 border mh-100 overflow-auto">
				<h4>접속중</h4>
				<hr>
				<div id="onlineChatNicknames">
					<p>김치찌개</p>
					<p>관리자</p>
					<p>고리</p>
				</div>
				<hr>
				<h4>
					채팅방
					<input type="button" class="btn btn-success" value="방만들기" onclick="showMakeRoom()">
				</h4>
				<div>
					<table class="table table-bordered table-striped">
						<thead>
							<th scope="col">인원</th>
							<th scope="col">이름</th>
						</thead>
						<tbody id="chatRoomNames">

						</tbody>
					</table>
				</div>
			</div>
			<div class="col border" id="showMakeRoom">
				<h3>채팅방 만들기</h3>
				<hr>
				<label for="chatRoomName">이름:</label>
				<input type="text" id="chatRoomName" maxlength="20">
				<input type="button" class="btn btn-success" value="만들기" id="btnMakeChatRoom">
			</div>
			<div class="col border mh-100 overflow-auto" id="showChat" style="display:none;">
				<h4 id="chatRoomTitle">채팅방이름</h4>
				<hr>
				<ul class="list-group" id="chatting">
					<li class="list-group-item">채팅예시</li>
				</ul>
				<hr>
				<input type="text" class="form-control" id="chatText" placeholder="채팅" maxlength="20" required>
				<input type="button" class="btn btn-success" value="보내기" id="sendChat" onclick="sendChat()">
			</div>
		</div>
		<div id="toasts" class="toast-container bottom-0 end-0 p-2">
		</div>
	</div>
</body>

</html>