<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
	<title>mixedGame</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script>
		// 현재 내가 어느 채팅방인가. 다른 채팅방에 들어갈 때, 현재 방을 나가기 위해 사용하는 변수
		let chatRoomKey = false;
		let CAChatRoomKey = false;
		//여기부터는 크아를 위한 변수
		let can;        //canvas 객체
        let ctx;        //context객체를 얻어야 drawimage와 filltext를 할 수 있음
		let bgReadyImage, bgIngameImage; //배경 이미지 저장변수
		$(document).ready(() => {
			$("#chatText").keydown(function (key) {
				if (key.keyCode == 13) {
					sendChat();
				}
			});
			$("#CAChatText").keydown(function (key) {
				if (key.keyCode == 13) {
					sendCAChat();
				}
			});
			$('#btnMakeChatRoom').click(() => {
				$.ajax({
					url: "/makeNewChatRoom",
					type: "post",
					data: {
						chatRoomName: $('#chatRoomName').val()
					},
					success: function (key) {
						console.log(key);
						accessChatRoom(key, $('#chatRoomName').val());
					},
					error: function (error) {
						console.log(error);
					}
				});
			});
			$('#btnMakeChatCARoom').click(() => {
				//크아방 만들기 버튼 눌렀다면
				$.ajax({
					url: "/makeNewChatCARoom",
					type: "post",
					data: {
						chatCARoomName: $('#chatCARoomName').val()
					},
					success: function (key) {
						console.log(key);
						accessCAChatRoom(key, $('#chatCARoomName').val());
					},
					error: function (error) {
						console.log(error);
					}
				});
			});
			canvasInitialize();
		})
		let socket = io();
		// 채팅방 접속중이라는것을 알림
		socket.emit("indexPage");
		// 채팅방 접속중 사람들을 알려달라.
		socket.emit("request onlineChatNicknames")
		// 채팅방 방 리스트를 가져다 달라.
		socket.emit("request chatRoomList");
		// 크아 채팅방 리스트를 가져다 달라.
		socket.emit("request CAChatRoomList");

		socket.on('disconnect', () => {
			alert('연결이 끊겼습니다');
			location.href = '/';
		})
		socket.on('alert', (msg)=>{
			alert(msg);
		})
		socket.on("response onlineChatNicknames", (nicknames) => {
			$('#onlineChatNicknames').empty();
			Array.from(nicknames).forEach((nickname, index) => {
				//$('#onlineChatNicknames').append(`<p onclick="inviteChatRoom('${nickname}')">${nickname}</p>`);
				$('#onlineChatNicknames').append(`<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			${nickname}</button>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" onclick="inviteChatRoom('${nickname}')">채팅방 초대하기</a></li>
		</ul>
	</div>`);
			})
		})
		socket.on("response chatRoomList", (list) => {
			$('#chatRoomNames').empty();
			list.forEach((val) => {
				$('#chatRoomNames').append(`<tr onclick="accessChatRoom('${val.key}', '${val.name}')"><td scope="row">${val.population}</td><td>${val.name}</td></tr>`);
			})
		})
		socket.on("response CAChatRoomList", (list) => {
			$('#CARoomNames').empty();
			list.forEach((val) => {
				$('#CARoomNames').append(`<tr onclick="accessCAChatRoom('${val.key}', '${val.name}')"><td scope="row">${val.population}</td><td>${val.name}</td></tr>`);
			})
		})
		socket.on('chat message', (msg) => {
			$('#chatting').append(`<li class="list-group-item">${msg}</li>`);
			$('#showChat').scrollTop($('#showChat')[0].scrollHeight);
		})
		socket.on('CAChat message', (msg) => {
			$('#CAChatting').append(`<li class="list-group-item">${msg}</li>`);
			$('#CAChatDiv').scrollTop($('#CAChatDiv')[0].scrollHeight);
		})
		socket.on('inviteChatRoom', (who, key, name) => {
			//data는 who, key, name으로 구성되어야 한다.
			$('#toasts').append(`<div id="liveToast" class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            ${who}이/가 '${name}' 채팅방에 초대했습니다.
            <div class="mt-2 pt-2 border-top">
                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="toast" onclick="accessChatRoom('${key}', '${name}');">수락</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">거절</button>
            </div>
        </div>
    </div>`);
		})
		socket.on('inviteCAChatRoom', (who, key, name) => {
			//data는 who, key, name으로 구성되어야 한다.
			$('#toasts').append(`<div id="liveToast" class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            ${who}이/가 '${name}' 채팅방에 초대했습니다.
            <div class="mt-2 pt-2 border-top">
                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="toast" onclick="accessCAChatRoom('${key}', '${name}');">수락</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">거절</button>
            </div>
        </div>
    </div>`);
		})
		socket.on('CAChatRoomJoinSucess', (key, name)=>{
			exitCurrentRoom();
			showCADiv();
			CAChatRoomKey = key;
			$('#chatCARoomTitle').text(name);
			$('#CAChatting').empty();
		})
		socket.on('CARoomInfo', (infoList)=>{
			$('#CAUserInfo').empty();
			infoList.forEach((info, index)=>{
				if(index==0) {
					$('#CAUserInfo').append(`<img class="position-absolute" style="top:140px;left:55px;" src="/images/bazzi/배찌31.png">`);
					$('#CAUserInfo').append(`<h6 class="position-absolute text-white" style="top:215px;left:33px;">${info.nickname}</h6>`);
					$('#CAUserInfo').append(`<h6 class="position-absolute text-warning" style="top:235px;left:33px;">${info.ready?'준비완료':'준비중'}</h6>`);
				}
				else if(index==1) {
					$('#CAUserInfo').append(`<img class="position-absolute" style="top:140px;left:160px;" src="/images/bazzi/배찌31.png">`);
					$('#CAUserInfo').append(`<h6 class="position-absolute text-white" style="top:215px;left:138px;">${info.nickname}</h6>`);
					$('#CAUserInfo').append(`<h6 class="position-absolute text-warning" style="top:235px;left:138px;">${info.ready?'준비완료':'준비중'}</h6>`);
				}
			})
			console.log(infoList);
		})
		socket.on('gameStart', ()=>{
			alert('게임 시작');
		})
		function inviteChatRoom(nickname) {
			if (!chatRoomKey && !CAChatRoomKey) {
				alert('현재 채팅방에 참여하지 않았습니다.');
			}
			else if (chatRoomKey) {
				socket.emit('inviteChatRoom', nickname, chatRoomKey, $('#chatRoomTitle').html());
				$('#chatting').append(`<li class="list-group-item">${nickname}을/를 초대했습니다.</li>`);
			}
			else if (CAChatRoomKey) {
				socket.emit('inviteCAChatRoom', nickname, CAChatRoomKey, $('#chatCARoomTitle').html());
				$('#CAChatting').append(`<li class="list-group-item">${nickname}을/를 초대했습니다.</li>`);
			}
		}
		function exitCurrentRoom() {
			if (chatRoomKey) {
				socket.emit("exitChatRoom", chatRoomKey);
				chatRoomKey = false;
			}
			else if (CAChatRoomKey) {
				socket.emit("exitCAChatRoom", CAChatRoomKey);
				CAChatRoomKey = false;
			}
		}
		function showMakeRoom() {
			$('.rightDiv').hide();
			$('#showMakeRoom').show();
			//현재 참여중인 채팅방이 있다면, 채팅방을 나간다.
			exitCurrentRoom();
		}
		function showMakeCARoom() {
			$('.rightDiv').hide();
			$('#showMakeCARoom').show();
			exitCurrentRoom();
		}
		function showChat() {
			$('.rightDiv').hide();
			$('#showChat').show();
		}
		function showCADiv() {
			$('.rightDiv').hide();
			$('#CADiv').show();
		}
		function accessChatRoom(key, name) {
			if (key === chatRoomKey) return;
			showChat();
			exitCurrentRoom();
			socket.emit("joinChatRoom", key);
			chatRoomKey = key;
			$('#chatRoomTitle').text(name);
			$('#chatting').empty();
		}
		function accessCAChatRoom(key, name) {
			if (key === CAChatRoomKey) return;
			socket.emit("joinCAChatRoom", key, name);
			//성공: CAChatRoomJoinSucess, 실패: alert
		}
		function sendChat() {
			if($('#chatText').val() != '') {
				socket.emit('chat message', chatRoomKey, $('#chatText').val());
				$('#chatText').val(``);
			}
		}
		function sendCAChat() {
			if($('#CAChatText').val() != '') {
				socket.emit('CAChat message', CAChatRoomKey, $('#CAChatText').val());
				$('#CAChatText').val(``);
			}
		}
		function iAmReady() {
			//크아 게임할 준비가 돼었다.
			socket.emit('iAmReady', CAChatRoomKey);
		}
		function makeImage(source)
        {
            const img=new Image();
            img.src=source;
			return img;
        }
		function canvasInitialize() {
			can=document.getElementById("can");
            ctx=can.getContext("2d");
			bgReadyImage=makeImage('/images/map/크아대기실.png');
			bgReadyImage.onload = ()=>{
				ctx.drawImage(bgReadyImage, 0, 0);
			}
		}
	</script>
</head>

<body>
	<div class="main-wrapper" style="height: 100vh">
		<div
			class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
			<a class="my-0 mr-md-auto font-weight-normal text-dark" href="/">Home</a>
			<nav class="my-2 my-md-0 mr-md-3">
				<%- navText %>
			</nav>
		</div>
		<div class="row h-75 w-100">
			<div class="col-3 border mh-100 overflow-auto">
				<h4>접속중</h4>
				<hr>
				<div id="onlineChatNicknames">
					<p>김치찌개</p>
					<p>관리자</p>
					<p>고리</p>
				</div>
				<hr>
				<h4>
					채팅방
					<input type="button" class="btn btn-success" value="방만들기" onclick="showMakeRoom()">
				</h4>
				<div>
					<table class="table table-bordered table-striped">
						<thead>
							<th scope="col">인원</th>
							<th scope="col">이름</th>
						</thead>
						<tbody id="chatRoomNames">
						</tbody>
					</table>
				</div>
				<hr>
				<h4>
					크아방
					<input type="button" class="btn btn-success" value="크아방만들기" onclick="showMakeCARoom()">
				</h4>
				<table class="table table-bordered table-striped">
					<thead>
						<th scope="col">인원</th>
						<th scope="col">이름</th>
					</thead>
					<tbody id="CARoomNames">
					</tbody>
				</table>
			</div>
			<div class="col border rightDiv" id="showMakeRoom">
				<h3>채팅방 만들기</h3>
				<hr>
				<label for="chatRoomName">이름:</label>
				<input type="text" id="chatRoomName" maxlength="20">
				<input type="button" class="btn btn-success" value="만들기" id="btnMakeChatRoom">
			</div>
			<div class="col border rightDiv mh-100 overflow-auto" id="showChat" style="display:none;">
				<h4 id="chatRoomTitle">채팅방이름</h4>
				<hr>
				<ul class="list-group" id="chatting">
					<li class="list-group-item">채팅예시</li>
				</ul>
				<hr>
				<input type="text" class="form-control" id="chatText" placeholder="채팅" maxlength="20" required>
				<input type="button" class="btn btn-success" value="보내기" id="sendChat" onclick="sendChat()">
			</div>
			<div class="col border rightDiv" id="showMakeCARoom" style="display:none;">
				<h3>크레이지아케이드 방 만들기</h3>
				<hr>
				<label for="chatCARoomName">이름:</label>
				<input type="text" id="chatCARoomName" maxlength="20">
				<input type="button" class="btn btn-success" value="크아방 만들기" id="btnMakeChatCARoom">
			</div>
			<div class="col border rightDiv mh-100 overflow-auto" id="CADiv" style="display:none;">
				<div class="position-relative" id="beforeGame">
					<img src="/images/map/크아대기실.png">
					<img class="position-absolute" style="top:495px;left:513px;" src="/images/map/시작.gif" onclick="iAmReady()">
					<h5 id="chatCARoomTitle" class="position-absolute" style="top:60px;left:90px;">크아채팅방이름</h5>
					<div id="CAUserInfo">
						
					</div>
					<div class="position-absolute overflow-auto" id="CAChatDiv" style="top:300px;left:20px;max-width:550px;max-height:250px;" >
						<ul class="list-group" id="CAChatting">
							<li class="list-group-item">크아채팅예시</li>
						</ul>
					</div>
				</div>
				<canvas id="can" width="800" height="600" style="display: none;"></canvas>
				<input type="text" class="form-control" id="CAChatText" placeholder="채팅" maxlength="20" required>
				<!--input type="button" class="btn btn-success" value="보내기" id="sendChat" onclick="sendCAChat()"-->
			</div>
		</div>
		<div id="toasts" class="toast-container bottom-0 end-0 p-2">
		</div>
	</div>
</body>

</html>