<!DOCTYPE html>
<html lang="en">

<head>
    <title>mixedGame</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-image: url("https://blackbearwow.github.io/image/paper.gif");
        }
    </style>
</head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <a class="my-0 mr-md-auto font-weight-normal text-dark" href="/">Home</a>
        <nav class="my-2 my-md-0 mr-md-3">
            <%- navText %>
        </nav>
        <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>
    <div class="container p-3 my-3 bg-dark text-white">
        <h4>회원가입 / 로그인</h4>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action"><a href="/signUp">회원가입</a></li>
            <li class="list-group-item list-group-item-action"><a href="/signIn">로그인</a></li>
        </ul>
    </div>
    <div class="container p-3 my-3 bg-dark text-white">
        <h4>Welcome!</h4>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action"><a>메이플 아케이드 게임 홈페이지에 오신걸 환영합니다</a></li>
            <li class="list-group-item list-group-item-action"><img src="/images/대표이미지.png" alt='배찌' width="100%"></li>
        </ul>
    </div>
</body>

</html>