<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
	<title>회원가입</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link rel="shortcut icon" href="https://blackbearwow.github.io/favicon/favicon.ico">
	<script>
		let identifier, pass, pass2;
		$(document).ready(function () {
			$("#btnSignUp").click(function () {
				signUpCheck();
			});
			$("#identifier, #password, #password2, #nickname").keydown(function(key){
	  			if(key.keyCode==13)
	  			{
					signUpCheck();
	  			}
	  		});
		});
		function alertMessage(msg) {
			document.getElementById('alertmessage').style.display = "block";
			document.getElementById('alertmessage').innerHTML = msg;
			alert(msg);
		}
		function signUpCheck() {
			identifier = document.getElementById('identifier').value;
			pass = document.getElementById('password').value;
			pass2 = document.getElementById('password2').value;
			nickname = document.getElementById('nickname').value;
			if (identifier.length == 0) {
				alertMessage("아이디를 입력해주세요");
				return;
			}
			else if ((pass.length < 4) || (20 < pass.length)) {
				alertMessage("패스워드를 4글자 이상 20글자 이하로 하시오");
				return;
			}
			else if (pass != pass2) {
				alertMessage("두 패스워드가 다릅니다. 다시 입력하시오");
				return;
			}
			else if (nickname.length == 0) {
				alertMessage("닉네임을 입력해주세요");
				return;
			}
			$.ajax({
				url: "/canISignUp",
				data: {
					id: identifier,
					passwd: pass,
					nickname: nickname
				},
				success: function (result) {
					if (result == "ok") {
						alert("회원가입 성공");
						location.href = "/";
					}
					else {
						console.log(result);
						if (result == "idOverlapped") {
							alertMessage("이미 있는 아이디입니다. 다른 아이디를 선택하시오");
							return;
						}
						else if (result == "nickNameOverlapped") {
							alertMessage("이미 있는 닉네임입니다. 다른 닉네임을 선택하시오");
							return;
						}
					}
				},
				error: function (error) {
					console.log(error);
					alertMessage(JSON.stringify(error));
					alert(JSON.stringify(error));
				}
			});
		}
	</script>
</head>

<body>
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <a class="my-0 mr-md-auto font-weight-normal text-dark" href="/">Home</a>
        <nav class="my-2 my-md-0 mr-md-3">
            <%- navText %>
        </nav>
    </div>
	<div class="container-fluid p-3 my-3">
		<h1>회원가입</h1>
		<br>
		<form id="form" action="createAccount" method="POST">
			<div class="form-group">
				<label for="pwd">아이디:</label>
				<input type="text" class="form-control" id="identifier" placeholder="Enter id" name="id" maxlength="20"
					required>
			</div>
			<div class="form-group">
				<label for="pwd">패스워드 (평소에 쓰던 패스워드 말고 4글자 정도의 쉬운 비밀번호로 하십시오):</label>
				<input type="password" class="form-control" id="password" placeholder="Enter password" name="pswd"
					maxlength="20" required>
			</div>
			<div class="form-group">
				<label for="pwd">패스워드 확인:</label>
				<input type="password" class="form-control" id="password2" placeholder="Enter password again"
					name="pswd2" maxlength="20" required>
			</div>
			<div class="form-group">
				<label for="pwd">닉네임:</label>
				<input type="text" class="form-control" id="nickname" placeholder="Enter nickname" name="nickname"
					maxlength="20" required>
			</div>
			<div>
				<a style="color:orange; display:none" id="alertmessage">정보출력 메시지</a>
			</div>
			<br>
			<input type="button" class="btn btn-success" value="회원가입" id="btnSignUp">
		</form>
	</div>
</body>

</html>